@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --test-title: #000000;
  --test-sub: #6d6d6d;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-soehne), Arial, Helvetica, sans-serif;
}

.tag{
    height: 52px;
    width: 219px;
    border-radius: 40px;
    padding: 10px 40px;
    background-color:#000000;
    color: white
}